<h1>Main#index</h1>
<p>List of courses</p>
<title> main page </title>
<ul>
  <% for course in @courses %>
      <li> <%=course.name + " " + (course.number).to_s%> </li>
  <%end%>
</ul>

<%= link_to "Goodbye", url_for("/main/goodbye")%>

